@import './base/vars';
@import './base/utils';
.headlink {
	padding: 8px 0 5px 0;
	@include clearfix;
	background: $themecolor;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			width: 20%;
			padding: 0;
			color: $white;
			font-size: .85rem;
			text-align: center;
			img {
				height: 40px;
			}
			p {
				margin: 5px;
			}
		}
	}
}