<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Airport-Free-WiFi</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../dist/css/tpl-headlink-3d.css">
    <style>
        header{height:103px}.headlink{height:87px}.link{height:89px}.area--content{margin-top:281px}
    </style>
    <body>
        <div class="webapp-container">
            <div class="area area--fixed" id="areaFixed" data-stellar-ratio="0.58">
                <header>
                    <section class="head container">
                        <div class="head__logo f--l">
                            <img src="../images/logo.png" alt="">
                        </div>
                        <div class="head__message f--r">
                            <ul id="weatherMes">
                                <li><img src="../images/sun.png" alt=""></li>
                                <li>晴</li>
                                <li>5~10</li>
                            </ul>
                        </div>
                    </section>
                    <section class="search container">
                        <div class="search__inner">
                            <input type="text" placeholder="请输入航班号">
                        </div>
                        <div class="search__btn">
                            <button type="submit">
                                <img src="../images/search.png" alt="">
                            </button>
                        </div>
                    </section>
                </header>
                <section class="headlink">
                    <div class="container">
                        <ul>
                            <a href="">
                                <li>
                                    <img src="../images/link-h-1.png" alt="">
                                    <p>在限值机</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-h-2.png" alt="">
                                    <p>乘机指南</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-h-3.png" alt="">
                                    <p>交通指引</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-h-4.png" alt="">
                                    <p>地图导航</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-h-5.png" alt="">
                                    <p>投诉建议</p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </section>
                <section class="link">
                    <div class="container">
                        <ul>
                            <a href="">
                                <li>
                                    <img src="../images/link-n-1.png" alt="">
                                    <p>交社保</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-n-2.png" alt="">
                                    <p>58同城</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/shiji.png" alt="">
                                    <p>世纪话题</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-n-4.png" alt="">
                                    <p>去哪里</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <img src="../images/link-n-5.png" alt="">
                                    <p>更 多</p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="area area--content" id="areaContent" data-stellar-ratio="1">
                <section class="banner">
                    <div class="item item--l">
                        <img src="../images/banner.jpg" alt="">
                    </div>
                    <div class="item item--r">
                        <div class="row">
                            <img src="../images/today-hot.png" alt="">
                        </div>
                        <div class="row">
                            David Lachapelle
                        </div>
                        <div class="row">
                            <small>—犍陀罗—</small>
                        </div>
                    </div>
                </section>
                <section class="news">
                    <div class="container">
                        <div class="news-box">
                            <div class="media-wraper">
                                <ul id="newsList">
                                    <li>
                                        <a href="">
                                            <div class="media">
                                                <div class="item item--l">
                                                    <img src="../images/news.png" alt="">
                                                </div>
                                                <div class="item item--r">
                                                    <h1 class="cliptext--2">节日拥堵怎么治？</h1>
                                                    <p class="cliptext--1">在唐代，比清明节提前三天的寒食节期间，扫墓习俗蔚然成风。</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <div class="media">
                                                <div class="item item--l">
                                                    <img src="../images/news.png" alt="">
                                                </div>
                                                <div class="item item--r">
                                                    <h1 class="cliptext--2">节日拥堵怎么治？节日拥堵怎么治？节日拥堵怎么治？节日拥堵怎么治？节日拥堵怎么治？节日拥堵怎么治？节日拥堵怎么治？节日拥堵怎么治？</h1>
                                                    <p class="cliptext--1">在唐代，比清明节提前三天的寒食节期间，扫墓习俗蔚然成风。</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <div class="media">
                                                <div class="item item--l">
                                                    <img src="../images/news.png" alt="">
                                                </div>
                                                <div class="item item--r">
                                                    <h1 class="cliptext--2">节日拥堵怎么治？</h1>
                                                    <p class="cliptext--1">在唐代，比清明节提前三天的寒食节期间，扫墓习俗蔚然成风。</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <p>技术支持由&nbsp;掌慧纵盈旗下建飞网络</p>
                    <p>服务支持热线：020-36066999</p>
                    <p><a href="##">京ICP备12002594号-7</a></p>
                </footer>
            </div>
            <section class="loading-tip hidden" id="loading-tip">
                <div class="splashScreen">
                    <div class="x-spinner">
                        <div class="x-spinner-item"></div>
                        <div class="x-spinner-item"></div>
                        <div class="x-spinner-item"></div>
                    </div>
                    &nbsp;正在努力为您加载··
                </div>
            </section>
        </div>
        <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
        <script src="../dist/js/index.bundle.js"></script>
        <script>
        window.onload = function() {
            var mySwiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                slidesPerView: 2,
                centeredSlides: true,
                coverflow: {
                    rotate: -15,
                    stretch: 20,
                    depth: 90,
                    modifier: 2,
                    slideShadows: true
                },
                loop: true,
                // autoplay: 2000,
            })
            var fixContentHeight = $("#areaFixed").height() + "px";
            $("#areaContent").css({
                'margin-top': fixContentHeight
            });
        }
        </script>
    </body>

</html>
