//--------------------------------------
// vars scss for theme
//--------------------------------------
// @ #12503e(green)        // shortcut for station theme(green theme)
// @ #3e5982(blue)         // shortcut for station theme(blue theme)

$themecolor: #12503e;
// $themecolor: #3e5982;

$white: #fff;
$gray: #ccc;
$fontgray: #969897;
$lightgray: #f2f2f2;
$fontblack: #393939;