@import '../base/vars';
.scroll--h {
    background: $themecolor;
}

.cxscroll {
    border-top: 1px solid rgba(255, 255, 255, .25);
}

.cxscroll ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.cxscroll .box {
    overflow: hidden;
    height: 28px;
}

.cxscroll .list {}

.cxscroll .list li {
    height: 28px;
    a {
		line-height: 28px;
		font-size: 14px;
		color: #fff;
		img {
			vertical-align: middle;
			height: 16px;
			width: 25px;
			margin-right: 8px;
		}
	}
}
