.swiper-slide img {
    width: 100%;
    border-radius: 1px;
}

.swiper-slide-prev img,
.swiper-slide-next img {
    opacity: .65;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none!important;
}
