@import './base/vars';
@import './base/normalize';
@import './base/utils';
@import './components/header';
@import './components/link';
@import './components/banner';
@import './components/news';
@import './components/footer';
@import './components/swiper-extend';
@import './components/loadingTip';
@import './vendor/swiper';
html {
	font-size: 16px;
}
@include media-md-up() {
	html {
		font-size: 18px;
	}
}
@include media-ip-sm() {
	html {
		font-size: 14px;
	}
}
a {
	text-decoration: none;
}
.area--fixed {
	position: fixed;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background: #e6e5e5;
	z-index: 0;
}
.area--content {
	position: relative;
	left: 0!important;
	z-index: 9;
}
.webapp-container {
	overflow: hidden;
	max-width: 640px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.container {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}
.f--l {
	float: left!important;
}
.f--r {
	float: right!important;
}
.swiper-slide-shadow-left,.swiper-slide-shadow-right {
	display: none!important;
}